:root {
    --color-background-main: lab(100% 0 0);
    --color-background-invert: lab(2.42579% -.165291 -.470081);
    --color-text-main: lab(2.42579% -.165291 -.470081);
    --color-text-invert: lab(100% 0 0);
    --color-text-soft: lab(2.42579% -.165291 -.470081 / .8);
    --color-text-sub: lab(2.42579% -.165291 -.470081 / .6);
    --color-muted: lab(2.42579% -.165291 -.470081 / .5);
    --color-border-sub: lab(2.42579% -.165291 -.470081 / .07);
    --color-background-soft: lab(2.42579% -.165291 -.470081 / .03);
    --color-border-surface: lab(2.42579% -.165291 -.470081 / .05);
    --color-border-soft: lab(2.42579% -.165291 -.470081 / .15);
    --color-brand: lab(51.3415% -41.5657 15.3527);
    --color-brand-light: lab(51.3415% -41.5657 15.3527);
    --color-border-solid: lab(2.42579% -.165291 -.470081);
    --color-muted-invert: lab(100% 0 0 / .5);

    --spacing: 0.25rem;
    --blur-lg: 16px;
    --text-lg: 1.125rem;
    --radius-3xl: 1.5rem;
}
.dark {
  --color-background-main: lab(2.42579% -.165291 -.470081);
  --color-background-invert: lab(100% 0 0);
  --color-text-main: lab(100% 0 0);
  --color-text-invert: lab(2.42579% -.165291 -.470081);
  --color-text-soft: lab(100% 0 0 / .7);
  --color-text-sub: lab(100% 0 0 / .6);
  --color-border-sub: lab(100% 0 0 / .07);
  --color-background-soft: lab(100% 0 0 / .05);
  --color-border-surface: lab(100% 0 0 / .05);
  --color-muted: lab(100% 0 0 / .5);
  --color-border-soft: lab(100% 0 0 / .15);
  --color-brand: lab(79.9844% -59.6292 22.5096);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
  --color-border-solid: lab(100% 0 0);
  --color-muted-invert: lab(2.42579% -.165291 -.470081 / .5);
}

html.dark {
  --twoslash-border-color: #222526;
  --twoslash-popup-bg: #151819;
  --twoslash-highlighted-border: rgba(255, 165, 0, .5);
  --twoslash-highlighted-bg: rgba(255, 165, 0, .19);
  --twoslash-unmatched-color: #aaa;
  --twoslash-cursor-color: rgba(187, 187, 187, .733);
  --twoslash-error-color: #ff6b6b;
  --twoslash-error-bg: rgba(255, 107, 107, .19);
  --twoslash-warn-color: orange;
  --twoslash-warn-bg: rgba(255, 165, 0, .19);
  --twoslash-tag-color: #6bb6ff;
  --twoslash-tag-bg: rgba(107, 182, 255, .19);
  --twoslash-tag-warn-color: var(--twoslash-warn-color);
  --twoslash-tag-warn-bg: var(--twoslash-warn-bg);
  --twoslash-tag-annotate-color: #4ade80;
  --twoslash-tag-annotate-bg: rgba(74, 222, 128, .19);
}
* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: var(--color-background-main);
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #2a2a2a;
}

body::-webkit-scrollbar-thumb {
  background: rgba(237, 236, 236, 0.6);
  border-radius: 10px;
  border: 2px solid #2a2a2a;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 236, 236, 0.8);
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background: transparent;
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 6);
  backdrop-filter: blur(var(--blur-lg));
  box-sizing: border-box;
}
header nav {
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--spacing));
  background-color: inherit;
}
header nav a svg {
  fill: var(--color-text-main);
}
.full-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacing) * 1);
  margin: 0px;
  padding: 0px;
}
.menu-name {
  display: block;
  text-decoration: none;
  color: var(--color-text-main);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 150%;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  background-color: inherit;
  transition: background-color 0.3s ease;
  border-radius: 30px;
}
.menu-name:hover {
  background-color: var(--color-background-soft);
}
.nav-btns {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}
.btn-1 {
  background-color: var(--color-background-soft);
  border: none;
  border-radius: 30px;
  color: var(--color-text-main);
  white-space: nowrap;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}
.btn-2 {
  background-color: var(--color-text-main);
  border: none;
  border-radius: 2rem;
  color: var(--color-text-invert);
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}
.btn-3{
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0px;
}
.btn-3 svg{
  color: var(--color-text-main);
  height: calc(var(--spacing) * 8);
  width: calc(var(--spacing) * 8);
}

main {
  width: 100%;
}
.page-background-container {
  position: absolute;
  inset: 0;
  width: 100%;
  display: grid;
  z-index: -1;
}
.page-background-container img {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100%;
  height: auto;
  display: none;
}
.page-background-container img.active-background {
  display: block;
}

.blog-cta {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: calc(var(--spacing) * 1);
  padding-right: calc(var(--spacing)* 2);
  padding-block: calc(var(--spacing) * 1);
  background-color: var(--color-border-soft);
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 2.5);
  color: white;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
}
.blog-cta span {
  padding-block: calc(var(--spacing) * .5);
  padding-inline: calc(var(--spacing) * 2);
  border-radius: 60px;
  background-color: var(--color-brand-light);
}
.blog-cta p {
  margin: 0px;
}
.blog-cta svg {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
}

.restricted-section {
  width: 100%;
  max-width: 64rem;
  margin: 0px auto;
  box-sizing: border-box;
}
.section-1 {
  padding:  calc(var(--spacing) * 24) 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text-main);
  background-color: transparent;
  text-align: center;
}
.section-1 h1 {
  font-weight: 600;
  letter-spacing: -.02em;
  font-size: max(2.5rem, min(4vw, 4rem));margin: 0px;
}
.section-1 p {
  font-size: var(--text-lg);
  line-height: 150%;
  width: 100%;
  max-width: 29.5rem;
  text-wrap: pretty;
  margin: 0px;
  padding: 0px;
  margin-top: calc(var(--spacing) * 6);
}
.section-1 form {
  margin-top:  calc(var(--spacing) * 8);;
  padding: calc(var(--spacing) * 1);
  background-color: var(--color-border-soft);
  border: 1px solid var(--color-border-soft);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--spacing) * 1.5);
  justify-content: space-between;
  width: 100%;
  max-width: 22.5rem;
}
.section-1 form input {
  font-weight: 500;
  color: var(--color-text-main);
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
  padding-inline: calc(var(--spacing) * 3);
  width: 100%;
  height: calc(var(--spacing) * 8);
}
.section-1 form input::placeholder {
  color: var(--color-text-sub);
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
}
.section-1 form button {
  color: var(--color-background-main);
  font-weight: 500;
  font-size: 15px;
  padding: 4.5px calc(var(--spacing) * 3);
  border: 1px solid var(--color-text-main);
  border-radius: 30px;
  background-color: var(--color-text-main);
  cursor: pointer;
  flex-shrink: 0;
  --tw-shadow: 0px 2px 4px 0px var(--tw-shadow-color, var(--color-background-soft));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.section-1 form button:hover {
  background-color: color-mix(in oklab,var(--color-text-main)85%,transparent);
}
.section-2 {
  padding-inline: calc(var(--spacing) * 4);
}
.section-2 img{
  width: 100%;
  max-width: 67.5rem;
  box-sizing: border-box;
  border: 3px solid var(--color-background-soft);
  border-top-left-radius: var(--radius-3xl);
        border-top-right-radius: var(--radius-3xl);
}

.section-3 {
  padding-top: calc(var(--spacing) * 18);
  padding-inline: calc(var(--spacing) * 8);
  padding-bottom: calc(var(--spacing) * 36);
  display: grid;
  row-gap: calc(var(--spacing) * 7);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: calc(var(--spacing) * 2);
  color: var(--color-text-main);
}
.section-3 div {
  height: calc(var(--spacing) * 16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-4 {
  margin-bottom: 9rem;
}
.section-4-text {
  padding-block: calc(var(--spacing) * 12);
  padding-inline: calc(var(--spacing) * 8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 4);
  color: var(--color-text-main);
}

.section-4-text h2 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: max(1.75rem, min(4vw, 2.5rem));
}
.section-4-text p {
   margin: 0px;
  padding: 0px;
  line-height: 150%;
  color: var(--color-text-soft);
  max-width: 40.5rem;
  text-align: center;
  font-size: 1.1rem;
}
.section-4-cards-wrapper {
  padding-inline: calc(var(--spacing) * 6);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 6);
}
.section-4-cards {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacing) * 6);
}
.section-4-card {
  padding: calc(var(--spacing) * 7.5);
  border-color: var(--color-border-sub);
  border: 1px solid var(--color-border-sub);
  border-radius: var(--radius-3xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-4-card-text {
  width: 100%;
  padding: calc(var(--spacing) * 6);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  color: var(--color-text-main);
}
.category {
  text-transform: uppercase;
  color: var(--color-brand);
  letter-spacing: .6px;
  font-weight: 500;
  line-height: 150%;
  margin: 0px;
  font-size: 0.75rem;
}
.section-4-card-text h3,
.assistant-text h3 {
  margin: 0px;
  letter-spacing: -.24px;
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 500;
  color: var(--color-text-main);
}
.description {
  color: var(--color-text-soft);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
  max-width: 30.5rem;
}
.assistant {
  border: 1px solid var(--color-border-sub);
  border-radius: 1.5rem;
  width: 100%;
}
.assistant-text {
  padding-block: calc(var(--spacing) * 12);
  padding-inline: calc(var(--spacing) * 8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 4);
  margin: calc(var(--spacing) * 1.5);
}
.section-5 {
  padding-block: calc(var(--spacing) * 24);
  padding-inline: calc(var(--spacing) * 6);
  background-color: var(--color-background-soft);
  width: 100%;
  margin: 0px auto;
  box-sizing: border-box;
}
.section-5 .container {
  width: 100%;
  max-width: 64rem;
  margin: 0px auto;
}
.section-5 .container-head {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: calc(var(--spacing) * 12);
  gap: calc(var(--spacing) * 6);
}
.section-5 .container-head div {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  flex: 1;
  max-width: 40rem;
  color: var(--color-text-main);
  text-align: left;
}
.section-5 .container-head div h4 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  color: var(--color-brand);
  letter-spacing: 0.6px;
  font-weight: 500;
  line-height: 150%;
  font-size: 0.75rem;
}

.section-5 .container-head div h3{
  margin: 0px;
  padding: 0px;
  font-size: max(1.75rem, min(4vw, 2.5rem));
  font-weight: 600;
  text-wrap: balance;
}

.section-5 .container-head div p {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text-soft);
}

.section-5 .container-head a {
  margin-top: auto;
  transition: background-color 0.1s ease;
  white-space: nowrap;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  padding: 0.4375rem calc(var(--spacing) * 6);
  border-radius: 30px;
  border: 1px solid var(--color-text-main);
  background-color: var(--color-text-main);
  text-decoration: none;
  color: var(--color-background-main);
}

.section-5 .container-head a:hover {
  background-color: 
color-mix(in oklab, var(--color-text-main)
lab(100% 0 0)
 85%, transparent); 
}
.container-body {
  display: flex;
  flex-direction: row;
  padding-bottom: calc(var(--spacing) * 12);
  gap: calc(var(--spacing) * 12);
  margin-block: calc(var(--spacing) * 6);
  color: var(--color-text-main);
}
.container-body svg {
  width: calc(var(--spacing) * 8);
    height: calc(var(--spacing) * 8);
    color: var(--color-brand);
}
.container-body div h4 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 4);
}
.container-body div p {
  padding: 0px;
  margin: 0px;
  color: var(--color-text-soft);
}
.container-footer {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
  width: 100%;
}
.container-footer a {
  text-decoration: none;
}
.container-footer a img {
  width: 100%;
  height: auto;
}
.container-footer-grid-mask {
  padding-block: calc(var(--spacing) * 3);
  mask-image: linear-gradient(to right, black 0px, black, black 100%);
}
.container-footer-grid {
  padding-inline: calc(var(--spacing) * 6);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 12);
  color: var(--color-text-main);
}
.container-footer-grid button {
  height: calc(var(--spacing) * 16);
  background-color: transparent;
  border: none;
  color: var(--color-muted);
}

@media (max-width: 64rem) {
  .btn-3 {
    display: block;
  }
  .btn-1, .btn-2, .full-menu {
    display: none;
  }
  .section-4-cards {
    flex-direction: column;
  }
}